/* Navbar layout */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  border-bottom: 1px solid #333;
   background-color: radial-gradient(at 50% 50%, hsla(210, 100%, 16%, 0.5), hsl(220, 30%, 5%));

}

/* Toggle switch design */
.ui-switch {
  display: flex;
  align-items: center;
  width: 50px;
  height: 26px;
}

.ui-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  background-color: #ccc;
  border-radius: 30px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
